<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Baten_Kaitos_Origins_Damage_Calculator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Baten_Kaitos_Origins_Damage_Calculator.My.MySettings>
            <setting name="ResultsRow" serializeAs="String">
                <value>11111111111111111111111111111111</value>
            </setting>
            <setting name="HighlightHits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TargetAutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadCombo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaberDragonHorn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TableTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Heavenlapse" serializeAs="String">
                <value>100100101</value>
            </setting>
            <setting name="AphelionDustwake" serializeAs="String">
                <value>1001010101010</value>
            </setting>
            <setting name="GuilloExtraBonus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>857, 1294</value>
            </setting>
            <setting name="TargetWindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="DeckWindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="DeckWindowSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="QMWindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="QMWindowSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="BoostWindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="SettingsWindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="SettingsWindowSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="TargetWindowSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="TargetWindowScroll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeckWindowScroll" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SettingsWindowScroll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QMWindowScroll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeckTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QMTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecretQueenGetUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EffectiveHPRemaining" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FinalPhase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SagiLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MillyLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GuilloLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Auras" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="QuestMagnus" serializeAs="String">
                <value>000000000000000000000000000000000000000000000000</value>
            </setting>
            <setting name="Character" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PartyOrder" serializeAs="String">
                <value>012</value>
            </setting>
            <setting name="EnglishVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MPWindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="DeckClass" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MPTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Fusillade" serializeAs="String">
                <value>1010010100110100</value>
            </setting>
            <setting name="CrimsonCatharsis" serializeAs="String">
                <value>0110001001</value>
            </setting>
            <setting name="BerserkTech" serializeAs="String">
                <value>01001</value>
            </setting>
            <setting name="HyperslaughtMode4" serializeAs="String">
                <value>0010001110010110</value>
            </setting>
            <setting name="HyperslaughtMode3" serializeAs="String">
                <value>0100101100</value>
            </setting>
            <setting name="MagnusOfLife" serializeAs="String">
                <value>1100100100</value>
            </setting>
            <setting name="EnemyResultsRow" serializeAs="String">
                <value>11111111111111111111111111</value>
            </setting>
        </Baten_Kaitos_Origins_Damage_Calculator.My.MySettings>
    </userSettings>
</configuration>